## Ignore Unnecessary files
## files generated After running script.


# QA Automation
/CucumberTestAutomationExecs/target/
/CucumberTestAutomationExecs/test-output/
/CucumberTestAutomationExecs/Archive/
/CucumberTestAutomationExecs/Automation_Report/


